$white: #fffdfd;
$black: #323233;
$dark-orange: #dd7230;
$light-orange: #ecab69;
$dark-yellow: #f0c808;
$light-yellow: #ffee9a;
$light-grey: #DCDCDC;
$dark-grey: #A9A9A9;
$green: #5caa0d;
$sub-title: 1.4rem;
$sub-heading: 1.6rem;
$normal: 1rem;
$small: .8rem;
$big: 2.8rem;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: white;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        width: 80px;
        img {
            width: 100%;
            height: auto;
        }
    }

    nav {
        position: relative;

        .toggle-button {
            width: 60px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .nav-links {
            position: absolute;
            background-color: $light-yellow;
            right: 0;
            top: 30px;
            width: 150px;
            padding: 1rem 0;
            display: none;
            
            .nav-item {
                display: block;
                text-decoration: none;
                text-align: center;
                color: $dark-orange;
                padding: .5rem 1rem;
            }

            a:focus,
            a:active{
                color: none;
            }

        }
    }

}

nav:hover .nav-links {
    display: block;
}

main {
    font-size: 2.8rem;
    width: 90%;
    margin: auto;
    
    .jumbotron-container {
        margin-top: 4rem;

        .jumbotron {
            p {
                font-size: $normal;
                color: $dark-grey;
                margin: 1rem 0;
            }

            h1 {
                font-size: $sub-heading;
                color: $black;
            }

            .btn-primary {
                margin: 2rem 0;
                background-color: $green;
                padding: .5rem 1rem;
                border: 1px solid $green;
                border-radius: .3rem;
                color: $white;
                font-weight: bold;
            }
        }
    }
}


@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
}


@media (min-width: 1200px) {
    header {
        nav {
            position: static;
    
            .toggle-button {
                display: none;
            }
    
            .nav-links {
                display: block;
                position: static;
                width: 100%;
                background-color: white;
                padding: 0;
    
                .nav-item {
                    display: inline;
                    font-weight: bold;
                    padding: 1rem;
                    margin: 0 1rem;
                    color: $light-orange;
                }
    
                .home {
                    color: $dark-orange;
                }
    
                .nav-item:hover {
                    color: $dark-orange;
                }
            }
        }
    }
    
}

