* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1920px;
  height: 100vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  background-color: white;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999; }
  header .logo-container {
    width: 80px;
    cursor: pointer; }
    header .logo-container img {
      width: 100%;
      height: auto; }
  header nav {
    position: relative; }
    header nav .toggle-button {
      width: 60px; }
      header nav .toggle-button img {
        width: 100%;
        height: auto; }
    header nav .nav-links {
      position: absolute;
      background-color: #ffee9a;
      right: 0;
      top: 30px;
      width: 150px;
      padding: 1rem 0;
      display: none; }
      header nav .nav-links .nav-item {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #dd7230;
        padding: .5rem 1rem; }
      header nav .nav-links a:focus,
      header nav .nav-links a:active {
        color: none; }
  header .search-login-icon {
    display: none; }

nav:hover .nav-links {
  display: block; }

main {
  font-size: 2.8rem; }
  main .jumbotron-container {
    position: relative;
    height: 90vh;
    background-image: url("/image/background-tab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; }
    main .jumbotron-container .dark-color {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: black;
      z-index: 2;
      opacity: 0.6; }
    main .jumbotron-container .jumbotron {
      position: relative;
      width: 90%;
      margin: auto;
      z-index: 3; }
      main .jumbotron-container .jumbotron p {
        font-size: 1rem;
        color: #A9A9A9;
        line-height: 4rem; }
      main .jumbotron-container .jumbotron h1 {
        font-size: 1.6rem;
        color: #323233;
        color: white;
        line-height: 2.2rem; }
      main .jumbotron-container .jumbotron .btn-primary {
        margin: 2rem 0;
        background-color: #5caa0d;
        padding: .5rem 1rem;
        border: none;
        border-radius: .3rem;
        color: #fffdfd;
        font-weight: bold; }
    main .jumbotron-container .jumbotron-image {
      display: none; }

@media (min-width: 576px) {
  main .jumbotron-container .jumbotron p {
    font-size: 1.1rem; }
  main .jumbotron-container .jumbotron h1 {
    font-size: 2rem; }
  main .jumbotron-container .jumbotron .btn-primary {
    font-size: 1.1rem; } }
@media (min-width: 768px) {
  main .jumbotron-container {
    position: static;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: -2.5rem; }
    main .jumbotron-container .dark-color {
      display: none; }
    main .jumbotron-container .jumbotron {
      position: static;
      flex: 1; }
      main .jumbotron-container .jumbotron h1 {
        color: #323233; }
    main .jumbotron-container .jumbotron-image {
      display: block;
      flex: 1;
      max-width: 450px; }
      main .jumbotron-container .jumbotron-image img {
        width: 100%;
        height: auto; } }
@media (min-width: 1200px) {
  header nav {
    position: static; }
    header nav .toggle-button {
      display: none; }
    header nav .nav-links {
      display: block;
      position: static;
      width: 100%;
      background-color: white;
      padding: 0; }
      header nav .nav-links .nav-item {
        display: inline;
        font-weight: bold;
        padding: 1rem;
        margin: 0 1rem;
        color: #A9A9A9; }
      header nav .nav-links .home {
        color: #dd7230; }
      header nav .nav-links .nav-item:hover {
        color: #dd7230; }
      header nav .nav-links .nav-extra {
        display: none; }
  header .search-login-icon {
    display: block;
    display: flex; }
    header .search-login-icon .search-icon {
      width: 20px;
      margin-top: 2px;
      margin-right: 10px;
      filter: invert(60%);
      cursor: pointer; }
    header .search-login-icon .human-icon {
      width: 25px;
      cursor: pointer; }
    header .search-login-icon img {
      width: 100%;
      height: auto;
      display: inline-block; }

  main .jumbotron-container .jumbotron .btn-primary:hover {
    background-color: #438502; } }

/*# sourceMappingURL=index.css.map */
