$white: #fffdfd;
$black: #323233;
$dark-orange: #dd7230;
$light-orange: #ecab69;
$dark-yellow: #f0c808;
$light-yellow: #ffee9a;
$light-grey: #DCDCDC;
$dark-grey: #A9A9A9;
$darker-grey: #707070;
$green: #5caa0d;
$dark-green: #438502;
$sub-title: 1.4rem;
$sub-heading: 1.6rem;
$normal: 1rem;
$small: .8rem;
$big: 2rem;


@mixin btn-primary {
    margin-top: 2rem;
    background-color: $green;
    padding: .5rem 1.2rem;
    border: none;
    border-radius: .3rem;
    color: $white;
    font-weight: bold;
    outline: none;
    font-size: $normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mini-hr {
    height: 1px;
    background-color: $green;
    border: none;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 15%;
}

header {
    width: 100%;
    background-color: white;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;

    // ----------------------- logo container -----------------------
    .logo-container {
        width: 80px;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
    }

    // ------------------------- navigation bar -----------------------
    nav {
        position: relative;

        .toggle-button {
            width: 60px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .nav-links {
            position: absolute;
            background-color: $light-yellow;
            right: 0;
            top: 30px;
            width: 150px;
            padding: 1rem 0;
            display: none;
            
            .nav-item {
                display: block;
                text-decoration: none;
                text-align: center;
                color: $dark-orange;
                padding: .5rem 1rem;
            }

            a:focus,
            a:active{
                color: none;
            }

        }

    }
    
    // -------------------------------- search human icon ------------------------
    .search-login-icon {
        display: none;
    }

}

nav:hover .nav-links {
    display: block;
}

main {
    font-size: 2.8rem;
    margin-top: 6.5rem;
    
    // -------------- jumbotron container ----------------------
    .jumbotron-container {
        position: relative;
        z-index: 1;

        // ------------------------ burger image for mobile --------------------
        .mobile-food-image {
            max-width: 200px;
            margin: auto;
            margin-top: 2rem;
            img {
                width: 100%;
                height: auto;
            }
        }

        // ---------------------------- jumbotron text and button -----------------------
        .jumbotron {
            position: relative;
            width: 90%;
            margin: auto;
            z-index: 3;
            p {
                font-size: $normal;
                color: $dark-grey;
                line-height: 4rem;
            }
            
            h1 {
                font-size: $sub-heading;
                color: $black;
                line-height: 2.2rem;
            }

            .btn-primary {
                @include btn-primary();
            }
        }

        // ----------------------- jumbotron image desktop ---------------------
        .jumbotron-image {
            display: none;
        }

        // ------------------------ scroll down container inside .jumbotron-container ---------------------
        .scroll-down {
            display: none;
        }

        // ------------------------- social links --------------------------
        aside {
            display: none;
        }
    }

    // --------------------- special dish container -----------------
    .special-dish-container {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        h2 {
            font-size: $sub-heading;
            color: $black;
            text-align: center;
        }

        p {
            font-size: $normal;
            color: $darker-grey;
            text-align: center;
            line-height: 1.8rem;
        }

        .special-dish-card {
            margin: 3rem;
            h3 {
                font-size: $sub-title;
                color: $black;
                text-align: center;
                line-height: 3rem;
            }

            p {
                text-align: center;
                font-size: $normal;
                color: $darker-grey;
                line-height: 1.8rem;
            }

            .special-dish-image {
                width: 150px;
                margin: auto;
                
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10rem;
                }
            }
        }
    }

    // ----------------------------- our master container ---------------------
    .our-master-container {
        margin-top: 5rem;
        
        .dishes {
            img {
                width: 100%;
                height: auto;
                border-radius: 10rem;
            }
        }
        
        .dishes-text {
            width: 90%;
            margin: auto;
            h2 {
                font-size: $sub-heading;
                text-align: center;
                line-height: 2.2rem;
                margin: 2rem 0 0 0;
                color: $black;
            }

            p {
                font-size: $normal;
                color: $darker-grey;
                text-align: center;
                line-height: 2rem;
                margin: 2rem 0;
            }
        }
    }

    // ------------------------ special menu container ----------------
    .special-menu-container {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        h2 {
            font-size: $sub-heading;
            text-align: center;
            color: $black;
        }

        p {
            font-size: $normal;
            text-align: center;
            color: $darker-grey;
            line-height: 1.6rem;
        }

        .special-menu {
            margin-top: 3rem;
            .special-menu-card {
                width: 220px;
                margin: 2rem auto;

                .special-menu-img {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1rem;
                    }
                }

                .special-menu-card-text {
                    padding: 1rem;
                    h3 {
                        font-size: $sub-title;
                        color: $black;
                    }

                    .order-price {
                        margin-top: 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        p {
                            color: $dark-orange;
                            font-weight: bold;
                        }

                        .btn-primary {
                            @include btn-primary();
                            margin-top: 0;
                            background-color: white;
                            color: $green;
                            border: 1px solid $green;
                            font-weight: normal;
                        }

                        .btn-primary:hover {
                            background-color: $green;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    // ---------------- testimonial section ---------------
    .testimonial-container {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        .testimonial {
            .testimonial-image {
                max-width: 500px;
                margin: auto;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 1rem;
                }
            }

            .testimonial-text {
                max-width: 500px;
                margin: auto;
                h2 {
                    font-size: $sub-heading;
                    color: $black;
                    margin-top: 2rem;
                    text-align: center;
                }

                p {
                    font-size: $normal;
                    color: $darker-grey;
                    line-height: 2rem;
                    text-align: center;
                }

                .testimonial-name {
                    font-size: $sub-title;
                    color: $dark-orange;
                    margin-top: 2rem;
                }

                .testimonial-work {
                    font-size: $small;
                    color: $darker-grey;
                }
            }
        }
    }


    // ------------------- special tips and recipes container ----------------------
    .special-tip-container {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        h2 {
            font-size: $sub-heading;
            text-align: center;
            color: $black;
        }

        p {
            font-size: $normal;
            color: $darker-grey;
            text-align: center;
            line-height: 2rem;
        }

        .special-tip {
            margin-top: 3rem;

            .special-tip-card {
                width: 250px;
                margin: 2rem auto;

                .special-tip-card-img {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 1rem;
                    }
                }

                .special-tip-card-text {
                    padding: 0 1rem 1rem 1rem;
                    h3 {
                        font-size: $sub-title;
                        color: $black;
                    }

                    p {
                        font-size: $small;
                        color: $darker-grey;
                        text-align: left;
                        margin-top: 1rem;

                        span {
                            padding: .5rem .7rem;
                            border-radius: 5rem;
                            color: $green;
                            background-color: rgb(189, 255, 189);
                        }
                    }

                    p ~ p {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.footer-break {
    height: 1px;
    border: none;
    background-color: rgb(211, 211, 211);
    margin: 3rem 0 .5rem 0;
}

footer {
    width: 90%;
    margin: auto;

    .footer {
        .footer-column {
            margin: 3rem 0;
            h3 {
                color: $black;
                text-align: center;
                margin: 1rem 0;
            }

            p {
                color: $darker-grey;
                line-height: 1.8rem;
                text-align: center;
            }

            .about-us-text {
                margin: 1rem 0;
            }
        }
    }
    .copyright {
        color: $darker-grey;
        text-align: center;
        margin: 1.5rem 0;
    }
}


@media (min-width: 576px) {
    main {
        .jumbotron-container {
            .mobile-food-image {
                display: none;
            }
            .jumbotron {
                p {
                    font-size: $sub-title;
                    line-height: 6rem;
                }

                h1 {
                    font-size: $big;
                    line-height: 2.6rem;
                }

                .btn-primary {
                    margin-top: 3rem;
                }
            }
        }

        .special-dish-container {
            h2 {
                font-size: $big;
                color: $black;
            }

            .special-dish {
                display: flex;
                flex-wrap: wrap;

                .special-dish-card {
                    flex: 250px;

                    
                }
            }
        }

        .special-menu-container {
            .special-menu {
                display: grid;
                grid-template-columns: repeat(auto-fill, 220px);
                grid-gap: 3rem 2rem;
                justify-content: space-evenly;

                .special-menu-card {
                    margin: 0;
                }
            }
        }

        .special-tip-container {
            margin-top: 5rem;
            h2 {
                font-size: $big;
                color: $black;
            }
    
            .special-tip {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .special-tip-card {
                    margin: 1rem ;
                }
            }
        }

    }

    footer {
        .footer {
            display: grid;
            grid-template-columns: 300px 130px;
            justify-content: space-evenly;
            .footer-column {

                h3 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    main {
        .jumbotron-container {
            position: static;
            background-image: none;
            width: 90%;
            margin: auto;
            margin-top: 2rem;

            
            .jumbotron {
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                position: static;
                flex: 1;

                h1 {
                    color: $black;
                }
            }

            .jumbotron-image {
                display: block;
                flex: 1;
                max-width: 450px;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .scroll-down {
                display: block;
                margin: auto;
                margin-top: 3rem;
                font-size: $small;
                display: flex;
                align-items: center;
        
                img {
                    margin-left: .5rem;
                    width: 20px;
                    height: auto;
                }
            }

            aside {
                display: flex;
                flex-direction: column;
                height: 70vh;
                justify-content: space-between;
                position: absolute;
                top: 8rem;
                right: 0;
            }

            aside p {
                transform: rotate(270deg);
                font-size: $normal;
                cursor: pointer;
            }
        }

        .special-menu-container {
            margin-top: 5rem;
            h2 {
                font-size: $big;
                text-align: center;
                color: $black;
            }
        }
    }

    footer {
        .footer {
            display: grid;
            grid-template-columns: 300px 130px 140px;
        }
    }
}


@media (min-width: 992px) {
    main {
        .our-master-container {
            width: 90%;
            margin: auto;
            margin-top: 5rem;

            .our-master {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-evenly;
                height: 90vh;
                
                .dishes,
                .dishes-text {
                    flex: 1;
                    max-width: 500px;
                    margin: 2rem;
                }

                .dishes-text {
                    h2 {
                        font-size: $big;
                        color: $black;
                    }

                    p {
                        text-align: left;
                    }
                }
            }
        }

        .testimonial-container {
            .testimonial {
                display: flex;
                justify-content: space-evenly;

                .testimonial-image {
                    order: 1;
                    margin: 2rem;
                }

                .testimonial-text {
                    margin: 2rem;

                    h2 {
                        font-size: $big;
                        color: $black;
                    }
                    
                    p {
                        text-align: left;
                    }
                }
            }
        }

    }
    
}


@media (min-width: 1200px) {
    header {
        padding: .5rem 2rem;
        nav {
            position: static;
    
            .toggle-button {
                display: none;
            }
    
            .nav-links {
                display: block;
                position: static;
                width: 100%;
                background-color: white;
                padding: 0;
                
                .nav-item {
                    display: inline;
                    font-weight: bold;
                    padding: 1rem;
                    margin: 0 1rem;
                    color: $dark-grey;
                }
    
                .home {
                    color: $dark-orange;
                }
                
                .nav-item:hover {
                    color: $dark-orange;
                }

                .nav-extra {
                    display: none;
                }
            }
            
        }
        
        .search-login-icon {
            display: block;
            display: flex;
            
            .search-icon {
                width: 20px;
                margin-top: 2px;
                margin-right: 10px;
                filter: invert(60%);
                cursor: pointer;
            }
            
            .human-icon {
                width: 25px;
                cursor: pointer;
            }
            
            img {
                width: 100%;
                height: auto;
                display: inline-block;
            }
            
        }
    }
    
    main {
        margin-top: 8rem;
        .jumbotron-container {
            .jumbotron {
                .btn-primary:hover {
                    background-color: $dark-green;
                    cursor: pointer;
                }
            }
            
         
        }
    }
    
}

